%h1 
  = "#{ @user.name }'s Discussions"

%div.discussions-list
  %table.table.table-striped
    - @discussions.each do |discussion|
      %tr{:data => {:discussion_id => discussion[:id]}}
        %td
          = discussion.book_name
        %td
          = discussion.user_2_name
        %td.view
          = link_to "View Discussion", show_discussion_path(discussion)