%h1 Discussions#show :)
%p Find me in app/views/discussions/new.html.haml

%div.whee
    Book name: 
    = @discussion.book_name
    %br
    User 1:
    = @user_1.name
    = @status_1
    %br
    User 2:
    = @user_2.name
    = @status_2