
%h1
  %i.icon-book{:style => 'padding-top: 11px; padding-right: 15px;'}
  %i.icon-comments{:style => 'padding-top: 15px; padding-right: 20px;'}
  = @discussion.book_name

%div.users{:style => 'margin-top: 30px;'}
  %ul
    %li
      %h4
        %i.icon-user
        = @user_1.name
    %li
      %h4
        %i.icon-user
        = @user_2.name

%form{:id => "quote"}
  %legend Add quote to Goodreads
  %label Add a quote
  %textarea{:placeholder => "type something!", :type => "text", :id => 'text', :value=>"whee"}
  %input{:placeholder => "Type something…", :type => "text", :id => 'text2', :value=>'wheeee'}
    %button.btn{:type => "submit", :id => 'quote_button'} Submit quote


- if @status_1.empty? and @status_2.empty?
  No statuses to show! :(
- else
  %div.status
    %table.table
      %div.progress-bars
        %tr
          %td.span3
            %h4= @user_1.name
          %td.span6
            %div.progress
              = @status_1[0][:percent] + "%"
              %div.bar{:style => "width: #{@status_1[0][:percent]}%;"}
        %tr
          %td.span3
            %h4= @user_2.name
          %td.span6
            %div.progress
              = @status_2[0][:percent] + "%"
              %div.bar{:style => "width: #{@status_2[0][:percent]}%;"}

    %div.row
      %div.span6
        %h3= @user_1.name
        %div.progress
          %div.bar{:style => "width: #{@status_1[0][:percent]}%;"}
        %ul
        - @status_1.each do |s|
          %li
            Percent: 
            = s[:created_at]
          %li
            Date: 
            = s[:percent]

      %div.span6
        %h3= @user_2.name
        %ul
        %div.progress
          %div.bar{:style => "width: #{@status_2[0][:percent]}%;"}
        - @status_2.each do |s|
          %li
            Percent: 
            = s[:created_at]
          %li
            Date: 
            = s[:percent]