<!DOCTYPE html>

%html 
  %head
    %title Bookcuddle

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'jquery.blockUI'
    = csrf_meta_tags

    :javascript
      $(document).ajaxStop($.unblockUI);
      function test() {
        $.ajax({ url: 'blah.php', cache: false});
      }

      $(document).ready( function() {
        $('.dropdown-toggle').dropdown();
        console.log('hiiii');
        $.blockUI();
        test();
      });

%body
  %div.navbar
    %div.navbar-inner
      %a.brand{:href => "#"} Bookcuddle
      %div.nav-collapse
        %ul.nav
          %li
            = link_to 'Profile', current_user
          %li
            = link_to 'Friends', friends_path
          %li.dropdown
            %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown', :target => '#'}}
              lol
              %b.caret
            %ul.dropdown-menu
              %li lol

      %div.pull-right
        - if current_user
          Logged in!
          = link_to "Log out", logout_path
        - else
          = link_to image_tag('goodreads-login-button.png'), sessions_path, :method => :post

  %div.container
    = yield





