= content_for :head do
  :javascript
    function doAjax() {
      console.log('overrode');

      $('tr').each(
        function() {
          var that = $(this);
          var book_id = that.data('book_id');
          var friend_id = that.data('friend_id');
          var url = '/discussions/' + book_id + '?friend_id=' + friend_id;
          console.log(url);
          $.ajax({ url: url, 
                  type: 'GET',
                  dataType: 'json',
                  cache: false,
                  success: function(data) {
                    // If discussion data is returned
                    if (data['discussion_id'] != null) {
                      // select all the Create Discussions and change to View

                      //get the td
                      var td = that[0];
                      //get the Discussions tr
                      var tr = $(td).find('td[class=discussion]')[0];
                      //change the link
                      var show_link = '/discussions/' + data['discussion_id'];
                      var show_a = $('<a>', {
                        text: 'View Discussion',
                        href: show_link
                      })
                      $(tr).html(show_a);
                    }
                  }
                }
          );
        });
    };

    $(document).ajaxStop($.unblockUI);

    $(document).ready( function() {
      $.blockUI({message: $('#domMessage')});
      doAjax();
    });

%h1 Unread Books

%table.table.table-striped
  %thead
    %tr
      %td 
        %b Title
      %td 
        %b Your status
      %td 
        %b Friend status
      %td
        %b Discussion
  %tbody
  - @comparison.each do |book|
    %tr{:data => {:book_id => book[:id], :friend_id => @friend_goodreads_id } }  
      %td
        = link_to book[:title], book[:url]
      %td
        = book[:your_review]
      %td
        = book[:their_review]
      %td.discussion
        = link_to "Start Discussion", discussions_path({:book_id => book[:id], :book_name => book[:title], :user_2 => @friend_goodreads_id, :user_1 => @current_user.goodreads_id}), :method => :post

%div#domMessage{:style => 'display:none;'}
  %h1 Please wait...
  %div.progress.progress-striped{:style => 'width:60%;align:middle;'}
    %div.bar{:style => "width: 60%;"}