<!DOCTYPE html>

%html
  %head
    %title Bookcuddle

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      $(document).ready( function() {
        $('.dropdown-toggle').dropdown();
      });

    = yield :head



  %body
    = render :partial => 'layouts/top_nav'


    %div.container
      = yield
      = render :partial => 'layouts/footer'


    %div#domMessage{:style => 'display:none;'}
      %h1 We are default!





